<h1 style="text-align: center;">Ajouter une soirée</h1>
<div class="form-wrapper">
    <section class="subForm saisieForm">
        <h2 style="text-align: center;">Nouvelle soirée</h2>
        <form [formGroup]="formulaire" (ngSubmit)="ajout()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nomSoiree" />
            <mat-error *ngIf="formulaire.get('nomSoiree')?.hasError('required')">
              Ce champ est requis.
            </mat-error>
            <mat-error *ngIf="formulaire.get('nomSoiree')?.hasError('minlength')">
              Minimum 4 caractères.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Lieu</mat-label>
            <input matInput formControlName="lieu" />
            <mat-error *ngIf="formulaire.get('lieu')?.hasError('required')">
              Ce champ est requis.
            </mat-error>
            <mat-error *ngIf="formulaire.get('lieu')?.hasError('minlength')">
              Minimum 6 caractères.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date et heure</mat-label>
            <input matInput type="datetime-local" formControlName="dateHeure" />
            <mat-error *ngIf="formulaire.get('dateHeure')?.hasError('required')">
              Ce champ est requis.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Prix</mat-label>
            <input matInput type="number" formControlName="prix" />
            <mat-error *ngIf="formulaire.get('prix')?.hasError('required')">
              Ce champ est requis.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Capacité maximale</mat-label>
            <input matInput type="number" formControlName="capaciteMax" />
            <mat-error *ngIf="formulaire.get('capaciteMax')?.hasError('required')">
              Ce champ est requis.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Thème</mat-label>
            <input matInput formControlName="theme" />
            <mat-error *ngIf="formulaire.get('theme')?.hasError('required')">
              Ce champ est requis.
            </mat-error>
            <mat-error *ngIf="formulaire.get('theme')?.hasError('minlength')">
              Minimum 3 caractères.
            </mat-error>
          </mat-form-field>
      
          <button mat-raised-button color="primary" type="submit" [disabled]="formulaire.invalid">
            Valider
          </button>
        </form>
      </section>
      
      

      <section class="subForm visuForm" [@fadeIn]>
        <h2 style="text-align: center;">Vue de la soirée</h2>
        <div *ngIf="currentSoiree !== undefined">
          <h3>{{ currentSoiree.nomSoiree }}</h3>
          <p>Lieu : {{ currentSoiree.lieu }}</p>
          <p>Date et Heure : {{ currentSoiree.dateHeure | date: 'dd/MM/yyyy HH:mm' }}</p>
          <p>Prix : {{ currentSoiree.prix | currency: 'EUR' }}</p>
          <p>Capacité maximale : {{ currentSoiree.capaciteMax }}</p>
          <p>Thème : {{ currentSoiree.theme }}</p>
        </div>
      </section>
      
</div>