<h1 class="titre" style="text-align: center;">Ajouter une réservation</h1><br>
<mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup" label="Choisir un étudiant">
        <form [formGroup]="firstFormGroup">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <ng-container matColumnDef="nomEtud">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element"> {{element.nomEtud}} </td>
            </ng-container>
            
            <ng-container matColumnDef="prenomEtud">
                <th mat-header-cell *matHeaderCellDef> Prénom </th>
                <td mat-cell *matCellDef="let element"> {{element.prenomEtud}} </td>
            </ng-container>
            
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            
            <ng-container matColumnDef="selectionner">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> <button mat-button style="color:white;" (click)="selectionnerEtudiant(element)">Sélectionner</button> </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>           
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Choisir une soirée">
        <form [formGroup]="secondFormGroup">
            <table mat-table [dataSource]="dataSourceSoiree" class="mat-elevation-z8">
            
                <ng-container matColumnDef="nomSoiree">
                    <th mat-header-cell *matHeaderCellDef> Nom </th>
                    <td mat-cell *matCellDef="let element"> {{element.nomSoiree}} </td>
                </ng-container>
                
                <ng-container matColumnDef="lieu">
                    <th mat-header-cell *matHeaderCellDef> Lieu </th>
                    <td mat-cell *matCellDef="let element"> {{element.lieu}} </td>
                </ng-container>
                
                <ng-container matColumnDef="theme">
                    <th mat-header-cell *matHeaderCellDef> Thême </th>
                    <td mat-cell *matCellDef="let element"> {{element.theme}} </td>
                </ng-container>
                
                <ng-container matColumnDef="capaciteMax">
                    <th mat-header-cell *matHeaderCellDef> Capacité maximale </th>
                    <td mat-cell *matCellDef="let element"> {{element.capaciteMax}} </td>
                </ng-container>
                
                <ng-container matColumnDef="selectionner">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element"> <button mat-button style="color:white;" (click)="selectionnerSoiree(element)">Sélectionner</button> </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsSoiree"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSoiree;"></tr>
                </table>   
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="ajout()">Enregistrer</button>
        </div>
        </form>
    </mat-step>
</mat-stepper>