<h1 class="titre" style="text-align: center;">Toutes les soirées</h1>
<div class="list-soiree">
    <div class="soiree-header">
      <button mat-raised-button color="primary" (click)="goToCreateSoiree()">Ajouter une soirée</button>
    </div>
  
    <div class="soiree-grid">
      <ng-container *ngFor="let uneSoiree of listSoiree">
        <mat-card class="soiree-card" appearance="outlined">
          <mat-card-title>{{ uneSoiree.nomSoiree }} {{ uneSoiree.idSoiree }}</mat-card-title>
          <mat-card-content>
            <p>📍 Lieu : {{ uneSoiree.lieu }}</p>
            <p>🕒 Date : {{ uneSoiree.dateHeure | date: 'dd/MM/yyyy HH:mm' }}</p>
            <p>💶 Prix : {{ uneSoiree.prix | currency: 'EUR' }}</p>
            <p>👥 Capacité : {{ uneSoiree.capaciteMax }}</p>
            <p>🎉 Thème : {{ uneSoiree.theme }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent" (click)="goToModifySoiree(uneSoiree.idSoiree)">Modifier</button>
            <button mat-button color="warn" (click)="deleteSoiree()">Supprimer</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
  