<h1 class="titre" style="text-align: center;">Tous les étudiants</h1>
<div class="list-etudiant">
    <div class="etudiant-header">
      <button mat-raised-button color="primary" (click)="goToCreateEtudiant()">Ajouter un étudiant</button>
    </div>
  
    <div class="etudiant-grid">
      <ng-container *ngFor="let unEtudiant of listEtudiant">
        <mat-card class="etudiant-card" appearance="outlined">
          <mat-card-title>{{unEtudiant.nomEtud}} {{unEtudiant.prenomEtud}}</mat-card-title>
          <mat-card-content>
            <p>Email : {{unEtudiant.email}}</p>
            <p>Numéro de téléphone : {{unEtudiant.numTel}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent" (click)="goToModifyEtudiant(unEtudiant.idEtud)">Modifier</button>
            <button mat-button color="warn" (click)="deleteLEtudiant(unEtudiant.idEtud)">Supprimer</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
</div>