<h1 style="text-align: center;">Toutes les réservations</h1>
<div class="list-reservation">
    <div class="reservation-header">
        <button mat-raised-button color="primary" (click)="goToCreateReservation()">Ajouter une réservation</button>
      </div>
    
      <div class="reservation-grid">
        <ng-container *ngFor="let uneReservation of listReservation">
          <mat-card class="reservation-card" appearance="outlined">
            <mat-card-title>{{uneReservation.idSoiree}} - {{uneReservation.idEtud}}</mat-card-title>
            <mat-card-content>
              <p>Date réservation : {{uneReservation.dateReserv}}</p>
              <p>Status réservation : {{uneReservation.statusReserv}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="accent">Modifier</button>
              <button mat-button color="warn">Supprimer</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
</div>